<div class="jumbotron text-center col-md-12">
<h1>Welcome To Dev Finder</h1>
<h3>A Site Where Business Can Find Developers For Their Projects</h3>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Basic Membership</h2>
            <h4 class="text-center">Sign up for free and get basic access to the community</h4>
            <br/>
            <br/>
            <%= link_to "sign up with basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary navbar-btn btn-block' %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Pro Membership</h2>
            <h4 class="text-center">Sign up for the pro account for $10/month and get acess to the community and contact information</h4>
            <br/>
            <%= link_to "sign up with pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-primary navbar-btn btn-block' %>
        </div>
    </div>
</div>





